{% extends "base.html" %}

{% block content %}
{% for product in products %}
  <div class="row pt-3">
    <div class="col-2">
      <img src="{{product.image.url}}" class="img-fluid m-3" alt="">
    </div>
    <div class="col-6">
      <h1><a href="{% url 'product:detail' product.pk %}">{{product.title}}</a></h1>
      <p>{{product.body|truncatechars:300}}</p>
    </div>
    <div class="col-4 pt-3">
      <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ product.votes_total }}</button></a>
    </div>
  </div>
{% endfor %}
{% endblock content %}
